@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

a:hover{
    color: #bebebe;
    transition: 80ms;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 62px;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: #57585A;
    transition: all 0.3s ease-in-out;
}

header > div > a > img{
    width: 150px;
    height: 59.71px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    z-index: 0;
}

header > nav > ul > li{
    list-style: none;
}

header > nav > ul > li > a{
    color: #57585A;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.redes > a > ion-icon{
    height: 18px;
    width: 18px;
    margin: 0 3px;
    border-radius: 6px;
    color: #313131;
}

ion-icon:hover {
    opacity: 0.7;
}

/* MAIN */

.infos{
    position: absolute;
    z-index: 4;
}

.infos > .button{
    display: flex;
    justify-content: center;
    margin: 0 0 0 20em;
}

.btn{
    color: #fff;
    background-color: #343435e6;
    font-size: 16;
    letter-spacing: 0.7px;
    width: 140px;
    height: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
}

.btn:hover{
    color: #fff;
    background-color: #A2CC30;
    width: 150px;
    transition: 80ms;
    cursor: pointer;
}

.info-text > h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    
    color: #343435;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.colorh1{
    color: #89B918;
    margin: 0 10px;
}

.info-text > p{
    display: flex;
    justify-content: center;
    margin: 10px 43em 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #313131;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.painelimg {
    width: 100%;
    margin: 2em 0;
}

.slides{
    display: flex;
    justify-content: center;

}

.carousel-wrapper {
    height: 450px;
    position: relative;
    width: 800px;
    margin-bottom: 50px;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid #0090D7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }

  .arrow:hover{
    opacity: 0.5;
  }


  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('img1.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('img2.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('img3.jpg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 
  
/* FOOTER */

.icon-whatsapp {
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 1800px) {
    .info-text > p {
        margin: 10px 35em 20px;
    }
    
}

@media only screen and (max-width: 1550px) {
    .info-text > p {
        margin: 10px 25em 20px;
    }
}

@media only screen and (max-width: 1150px) {
    .info-text > p {
        margin: 10px 10em 20px;
    }
}

@media only screen and (max-width: 840px) {

    header{
        display: flex;
        justify-content: space-between;
        gap: 3em;
        padding: 0 2em;
    }

    .navbar{
        position: fixed;
    }

    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
     transform: translateY(8px) rotate(45deg);
     }
     .hamburguer.active .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
     }
     .nav-menu{
         position: fixed;
         left: -100%;
         top: 70px;
         gap: 0;
         border-radius: 0 0 20px 20px;
         background-color: rgb(255, 255, 255);
         text-align: center;
         flex-direction: column;
         width: 100%;
         transition: 0.3s;
     }
     .nav-item{
         padding: 24px 0;
         border-bottom: 1px solid rgba(170, 170, 170, 0.185);
     }

     .nav-link{
        color: #57585A;
     }

     .nav-menu.active{
         left: 0;
     }.hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #fffffff6;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }

    .painelimg{
        display: none;
    }

    .infos{
        position: initial;
        margin-bottom: 3em;
    }
}

@media only screen and (max-width: 700px){
    .info-text > h1 {
        margin-top: 10px;
        font-size: 28px;
    }

    .info-text > p {
        margin: 10px 5em 20px;
    }

    .carousel-wrapper {
        height: 272.25px;
        width: 484px;
      }
}

@media only screen and (max-width: 530px){
    .info-text > h1 {
        margin-top: 15px;
        font-size: 24px;
    }

    .info-text > p {
        margin: 10px 2em 20px;
    }

    .infos > .button{
        margin: 0;
    }

    .carousel-wrapper {
        height: 225px;
        width: 100%;
      }
}

@media only screen and (max-width: 450px){
    header{
        gap: 10px;
        padding: 0 20px;
    }

    .redes > a > ion-icon{
        margin: 0 1px;
    }

    .info-text > h1 {
        margin-top: 15px;
        font-size: 18px;
    }

    .info-text > p {
        margin: 10px 1em 20px;
    }

    .infos > div > .info-text {
        margin: 0 0 0 9em;
    }
}

@media only screen and (max-width: 341px) {

    header {
        margin: 0 15;
    }
}