@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

a:hover{
    color: #bebebe;
    transition: 80ms;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 62px;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.hamburguer{
    display: none;
    cursor: pointer;
}


.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: #57585A;
    transition: all 0.3s ease-in-out;
}

header > div > a > img{
    width: 150px;
    height: 59.71px;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

header > nav > ul > li{
    list-style: none;
}

header > nav > ul > li > a{
    color: #57585A;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.redes > a > ion-icon{
    height: 18px;
    width: 18px;
    margin: 0 3px;
    border-radius: 6px;
    color: #313131;
}

ion-icon:hover {
    opacity: 0.7;
}

/* MAIN */

.slide-info {
    display: flex;
    align-items: center;
    height: 50vh;
    padding: 0px 8em;
    background-image: url(https://cdn.prod.website-files.com/6511cfd2606eaef1830868c7/6567a246e3795e73585a5bc6_pattern-10.webp);
    background-color: #ebebeb;
}

.container-slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
  }
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px; 
  }
  
  .on {
    opacity: 1;
  }

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2em;
  }

  #prev-button, #next-button {
    width: 48px;
    height: 48px;
    margin: 10px;
    border: solid 2px #313131;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  
  #prev-button {
    
  }

  #prev-button:hover, #next-button:hover{
    background-color: #313131;
    border: solid 2px #D9D9D9;
    color: #D9D9D9;
    transition: 500ms;
  }

  .infos > p {
    margin: 10px;
    color: #313131;
    font-size: 18px;
  }

  .btn-saiba-mais {
    width: 130px;
    height: 32px;
    margin: 10px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #313131;
    color: #313131;
    font-size: 14px;
    cursor: pointer;
  }

  .btn-saiba-mais:hover{
    background-color: #313131;
    color: #D9D9D9;
    transition: 500ms;
  }

  .quem-somos {
    display: flex;
    justify-content: center;
    margin: 0 130px;
    padding: 20px 0px;

  }

  .quem-somos > div {
    padding: 20px;
  }

  .quem-somos > div > h1 {
    font-weight: normal;
    font-size: 72px;
    color: #313131;
    margin-bottom: 20px;

  }

  .quem-somos > div > p {
    font-weight: normal;
    font-size: 18px;
    color: #313131;
    margin: 20px 0px;

  }

  .quem-somos > div > img {
    border-radius: 10px;
  }

  .prod {
    display: flex;
    background-color: #D9D9D9;
    padding: 2em;
    height: 50vh;
  }

  .card1 {
    width: 332px;
    height: 405px;
    padding: 16px;
    background-color: #0094DA;
  }

  .card1 > h1 {
    font-size: 40px;
    color: #ffffff;
  }

  .card1 > p {
    color: #ffffff;
  }



/* FOOTER */

.icon-whatsapp {
    height: 70px;
    width: 70px;
}


@media only screen and (max-width: 1600px) {
    .slide-info {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1300px) {
    .slide-info {
        padding: 0 10px;
        height: 40vh;
    }

    .container-images {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 100%;
      }

    #prev-button, #next-button {
        width: 40px;
        height: 40px;
        margin: 10px;
      }

    .infos > p {
        margin: 10px;
        font-size: 16px;
      }

    .img-quem-somos {
        width: 490px;
        height: auto;
    }
}

@media only screen and (max-width: 1030px) {
    .slide-info {
        flex-direction: column;
        padding: 10px 0px;
        height: 60vh;
    }

    .container-images {
        width: 100vw;
        height: 100%;
      }

    .container-slider {
        margin: 200px 0;
        
    }

    .quem-somos {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 840px) {

    header{
        display: flex;
        justify-content: space-between;
        gap: 3em;
        padding: 0 2em;
        position: relative;
        z-index: 1000;
    }

    .slide-info {
        padding: 0;
        height: 56vh;
    }

    .container-images {
        width: 100vw;
        height: 100%;
      }

    .container-slider {
        margin: 17vh 0;
        
    }

    .infos{
        margin: 0;
    }

    .navbar{
        position: fixed;
    }

    .container-slider {
        position: relative; 
        z-index: 1; 
    }

    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
     transform: translateY(8px) rotate(45deg);
     }
     .hamburguer.active .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
     }
     .nav-menu{
         position: fixed;
         left: -100%;
         top: 70px;
         gap: 0;
         border-radius: 0 0 20px 20px;
         background-color: rgb(255, 255, 255);
         text-align: center;
         flex-direction: column;
         width: 100%;
         transition: 0.3s;
     }
     .nav-item{
         padding: 24px 0;
         border-bottom: 1px solid rgba(170, 170, 170, 0.185);
     }

     .nav-link{
        color: #57585A;
     }

     .nav-menu.active{
         left: 0;
     }.hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #fffffff6;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }

    .painel > img{
        display: none;
    }

    .infos{
        position: initial;
        margin-bottom: 3em;
    }
}

@media only screen and (max-width: 700px){
    .info-text > h1 {
        margin-top: 10px;
        font-size: 28px;
    }

    .info-text > p {
        margin: 10px 5em 20px;
    }
}

@media only screen and (max-width: 600px){
    .container-slider {
        margin: auto 0;
        
    }

    .slide-info {
        padding: 0;
        height: 50vh;
    }

}


@media only screen and (max-width: 530px){
    .info-text > h1 {
        margin-top: 15px;
        font-size: 24px;
    }

    .info-text > p {
        margin: 10px 2em 20px;
    }

    .infos > .button{
        margin: 0;
    }

    .img-quem-somos {
        width: 420px;
        height: auto;
    }

    .quem-somos {
        margin: 0;
    }

    .quem-somos > div {
        padding: 4px;
    }
}

@media only screen and (max-width: 450px){
    header{
        gap: 10px;
        padding: 0 20px;
    }

    .redes > a > ion-icon{
        margin: 0 1px;
    }

    .info-text > h1 {
        margin-top: 15px;
        font-size: 18px;
    }

    .info-text > p {
        margin: 10px 1em 20px;
    }

    .infos > div > .info-text {
        margin: 0 0 0 9em;
    }

    .infos {
        margin: 0;
    }

    .quem-somos > div > h1 {
        font-size: 54px;
    }

    .slide-info {
        padding: 0;
        height: 42vh;
    }
}

@media only screen and (max-width: 341px) {

    header {
        margin: 0 15;
    }
}